<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
  <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>
    <div class= "col-12 p-0 main-preview mb-4">
      <%=image_tag @listing.picture, class: "thumbnail card-img top" if @listing.picture.attached?%>
    </div>
    <div class= 'badge badge-pill badge-info'>
      <%= link_to 'Edit', edit_listing_path(@listing) %> |
      <%= link_to 'Back', listings_path %>
    </div>
  </div>
  <div class='sidebar col-lg-4 p-0 mx-2 d-md-block'>
    <h1 class="text-muted mb-sm-2 md-md-5"><%=@listing.title%></h1>

    <h5 class='text-muted'><%= @listing.category.name %></h5>


    <% @listing.colours.each do |colour|%>
      <span class= 'badge badge-pill badge-info'><%=colour.name%></span>
    <%end%>
    <%# <%= @listing.colors.each not <% @listing.colors.each %>

    <h6 class='text-muted my-2'><em><%= @listing.description %></em></h6>

    <%if current_user && @listing.sold == false%>
      <button data-stripe="payment" class="btn badge-info p-3">Buy: $<%= @listing.price %></button>
    <%elsif @listing.sold == true%>
      <button class="btn badge-info" disabled>SOLD</button> 
    <%else%>
      <%=button_to "Login to buy", new_user_session_path, class: "btn btn-info"%>
    <%end%>
  </div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']")
    .addEventListener("click", () =>{
      conststripe = Stripe(
        "<%=Rails.application.credentials.dig(:stripe, :public_key)%>"
      );
      stripe.redirectToCheckout({
        sessionId: "<%@session_id%>"
      })
    })
</script>


</section>
