<nav class="navbar navbar-expand-md sticky-top">
    <div class= "container-fluid">
        <%=link_to "TACAS Marketplace", root_path, class:"nav-link"%>
    </div>
    <ul class="navbar-nav mr-5-lg">
        <li class="nav-item">
            <%=link_to "Shop Now", listings_path, class: "nav-link"%>
        </li>
    <% if user_signed_in? %>
        <li class="nav-item">
            <%=link_to "Create a listing", new_listing_path, class: "nav-link"%>
        </li>    
        <li class="nav-item">
            <%=link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>  
    <%else%>
        <li class="nav-item">
            <%=link_to "Log in", new_user_session_path, class: "nav-link"%>
        </li>    
        <li class="nav-item">
            <%=link_to "Sign up", new_user_registration_path, class: "nav-link"%>
        </li>  

    <%end%>
    </ul>
</nav>